<script type="text/javascript" src="js/scripts.js"></script>

<div class="row">
	
	<div class="sub-title">
		<a href="/" title="Go to Home Page">
			<h2>Back Home</h2>
		</a>
		<a href="#comment" class="smoth-scroll"><i class="icon-bubbles"></i></a>
	</div>
	
	
	<div class="col-md-12 content-page">
		
		<div class="col-md-12 blog-post">
			
			<div class="control">
				<label for="day">Day:</label>
				<select id="day">
				<option value="monday">Monday</option>
				<option value="tuesday">Tuesday</option>
				<option value="wednesday">Wednesday</option>
				<option value="thursday">Thursday</option>
				<option value="friday">Friday</option>
				<option value="saturday">Saturday</option>
				<option value="sunday">Sunday</option>
				</select>
			</div>
			
			<form>
				Starts: <input id="starttime" type="time" name="usr_time">
				Ends: <input id="endtime" type="time" name="usr_time">
				<input ng-click="addSchedule()" type="submit">
			</form>
			
			<h3 id="warningtext">Enter your schedule day & time</h3>
			
			<table>
				<tr ng-repeat="schedule in schedulecart">
				<td>{{scheduleToTableString(schedule)}}</td>
				</tr>
			</table>
		</div>
	</div>
</div>


<!-- Back to Top -->
<a href="#" class="scroll-to-top"><i class="fa fa-long-arrow-up"></i></a>