<script type="text/javascript" src="js/scripts.js"></script>

<div class="row">
    
    <div class="sub-title">
        <h2>My Blog</h2>
        <a href="contact.html"><i class="icon-envelope"></i></a>
    </div>
    
    
    <div class="col-md-12 content-page">
        
        <!--Blog Post Start -->
        <!--<div class="col-md-12 blog-post"> <!-- edited style.css class blog-post -->
        <!--    <div class="post-title">-->
        <!--        <a href="/blog/single"><h1>How to design elegant e-mail newsletter in html for wish christmas to your subscribers?</h1></a>-->
        <!--    </div>-->
        <!--    <div class="post-info">-->
        <!--        <span>November 23, 2016 / by <a href="#" target="_blank">Alex Parker</a></span>-->
        <!--    </div>-->
        <!--    <p>Load all blogposts at init (read from db only once), then use Load button to only show one more blog each click. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae ut ratione similique temporibus tempora dicta soluta? Qui hic, voluptatem nemo quo corporis dignissimos voluptatum debitis cumque fugiat mollitia quasi quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae ut ratione similique.</p>-->
        <!--    <a href="/blog/single" ng-click="readMore()" class="button button-style button-anim fa fa-long-arrow-right"><span>Read More</span></a>-->
        <!--</div>-->
        <!--Blog Post End -->
        
        
        <div ng-repeat="blogpost in blogpostlist">
            
            <!--Blog Post Start -->
            <div class="col-md-12 blog-post">
                
                <div class="post-title">
                    <a href="/blog/single"><h1>{{blogpost.title}}</h1></a>
                </div>
                
                <div class="post-info">
                    <span>{{blogpost.posted}} / by <a href="#" target="_blank">{{blogpost.author}}</a></span>
                </div>
                <p>{{blogpost.body}}</p>
                <a href="/blog/single" class="button button-style button-anim fa fa-long-arrow-right"><span>Read More</span></a>
                
            </div>
            <!--Blog Post End -->
            
        </div>
        
        
        
            
            
            
        
        
        
        <div class="col-md-12 text-center">
            <a href="javascript:void(0)" id="load-more-post" class="load-more-button">Load</a>
            <div id="post-end-message"></div>
        </div>

    </div>

</div>
    
    
<!-- Subscribe Form Start -->
<div class="col-md-8 col-md-offset-2">
    
    <form id="mc-form" method="post" action="http://uipasta.us14.list-manage.com/subscribe/post?u=854825d502cdc101233c08a21&amp;id=86e84d44b7">
        <div class="subscribe-form margin-top-20">
            <input id="mc-email" type="email" placeholder="Email Address" class="text-input">
            <button class="submit-btn" type="submit">Submit</button>
		</div>
		
        <p>Subscribe to my weekly newsletter</p>
        <label for="mc-email" class="mc-label"></label>
    </form>
    
</div>
<!-- Subscribe Form End -->